:root {
  --light-blue: #AED9E0;
  --soft-green: #B8E986;
  --light-pink: #FFAEC9;
  --pastel-yellow: #FAF884;
  --soft-orange: #FFCBA4;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 20px;
}

header h1 {
  color: var(--soft-orange);
  text-align: center;
}

section h2 {
  color: var(--soft-orange);
}

.animal-card {
  width: 200px;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  margin: 10px;
  background-color: var(--light-blue);
}

#mamiferos .animal-card {
  background-color: var(--soft-green);
}

#peixes .animal-card {
  background-color: var(--light-pink);
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.carousel-inner {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  max-width: 100%;
  padding: 10px 0;
}

.animal-card {
  scroll-snap-align: start;
  flex-shrink: 0;
}

button {
  background-color: var(--soft-orange);
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .animal-card {
    width: 150px;
  }
  button {
    padding: 5px;
  }
}